---
import { actions } from 'astro:actions'
import { getAbsoluteUrl } from 'utils/auth'
import Layout from 'layouts/Layout.astro'
import PostsList from 'components/posts/PostsList'
import type { GalleryView } from 'components/common/GalleryViewSwitch'

const { user } = Astro.locals

if (user.guest) return Astro.redirect(getAbsoluteUrl(Astro.url, '/'))

const galleryView = Astro.url.searchParams.get('view') as GalleryView
const num = Number(Astro.url.searchParams.get('num')) || (galleryView === 'compact' ? 50 : 10)
const posts = await Astro.callAction(actions.getPosts.orThrow, { skip: 0, limit: Math.min(num, 100) })
---

<Layout title="Posts | Variants World">
  {user.guest ? <div>Hello Mr. Guest</div> : <PostsList userId={user.id} posts={posts} galleryView={galleryView ?? ''} client:idle />}
</Layout>
