---
import { getAbsoluteUrl } from 'utils/auth'
import { getPosts } from 'db/prisma/queries'
import Layout from 'layouts/Layout.astro'
import PostsList from 'components/posts/PostsList'

const { user } = Astro.locals

if (user.guest) return Response.redirect(getAbsoluteUrl(Astro.url, '/'))

const posts = await getPosts(0, 10)
---

<Layout title="Posts | Variants World">
  {user.guest ? <div>Hello Mr. Guest</div> : <PostsList userId={user.id} posts={posts} client:idle />}
</Layout>
