---
import { actions } from 'astro:actions'
import { getAbsoluteUrl } from 'utils/auth'
import Layout from 'layouts/Layout.astro'
import PostsList from 'components/posts/PostsList'

const { user } = Astro.locals

if (user.guest) return Astro.redirect(getAbsoluteUrl(Astro.url, '/'))

const posts = await Astro.callAction(actions.getPosts.orThrow, { skip: 0, limit: 10 })
---

<Layout title="Posts | Variants World">
  {user.guest ? <div>Hello Mr. Guest</div> : <PostsList userId={user.id} posts={posts} client:idle />}
</Layout>
