---
import Layout from "../../layouts/Layout.astro"
import { getGameDetailsById } from '../../cgabot'

await getGameDetailsById(39233242)
---

<Layout>
  <div class="flex flex-col mt-[200px] mx-auto">
    <h1 class="text-[85px] text-white font-[300] tracking-[2.55px] text-center text-shadow-light">Variants universe starts<br/>with a single game</h1>

    <div class="w-[762px] flex flex-row gap-[14px] px-[28px] pt-[16px] pb-[16px] mx-auto mt-[100px] bg-dark border border-[2px] border-border-dark shadow-light text-text font-[400] rounded-full items-center">
     <span class="text-[38px]">#</span>
     <input class="w-full text-[29px] bg-dark outline-none" type="text" placeholder={'game number or link'}>
    </div>
  </div>
</Layout>
