---
import 'styles/font.css'
import 'virtual:windi.css'
import Navigation from "components/Navigation"
import type { AuthentificatedUser } from 'db/supabase/auth'

type LayoutProps = {
  title: string
	user?: AuthentificatedUser
}

const { title, user} = Astro.props as LayoutProps

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-dark text-text">
		<Navigation username={user?.username} />
		<slot />
	</body>
</html>
