---
import 'styles/font.css'
import 'virtual:windi.css'
import { ViewTransitions } from 'astro:transitions'
import Navigation from "components/Navigation"
import type { AuthentificatedUser } from 'db/supabase/auth'

type LayoutProps = {
  title: string
	user?: AuthentificatedUser
}

const { title, user} = Astro.props as LayoutProps
const path = Astro.url.pathname

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback="animate" />
	</head>
	<body class="bg-dark text-text overflow-y-auto!">
		<Navigation username={user?.username} path={path}/>
		<div id="app" class="absolute inset-0 top-12 pt-8 overflow-y-scroll pl-2">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	::selection {
		background: #ff6149a4;
		color: #e6e6e6;
	}
	::-webkit-scrollbar {
		width: 0.5rem;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-border-light rounded-sm;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-primary;
	}
	
	.light-scrollbar::-webkit-scrollbar {
		@apply w-[0.2rem]
	}
	.light-scrollbar::-webkit-scrollbar-thumb {
		@apply bg-gray
	}
	.light-scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-primary;
	}

	::view-transition-old(root),
	::view-transition-new(root) {
		animation-duration: 100ms;
	}
</style>
