---
import 'styles/font.css'
import 'virtual:windi.css'
import { ViewTransitions } from 'astro:transitions'
import Navigation from "components/Navigation"
import type { AuthentificatedUser } from 'db/supabase/auth'

type LayoutProps = {
  title: string
	user?: AuthentificatedUser
}

const { title, user} = Astro.props as LayoutProps

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-dark text-text overflow-y-auto!">
		<Navigation username={user?.username} />
		<div id="app" class="absolute inset-0 top-12 pt-8 overflow-y-scroll pl-2">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	::-webkit-scrollbar {
		width: 0.5rem;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-border-light rounded-sm;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-primary;
	}
.description-scrollbar::-webkit-scrollbar {
  @apply w-[0.2rem]
}
.description-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-dark 
}
.description-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-dark
}
.description-scrollbar::-webkit-scrollbar-track {
		@apply bg-gray
}
</style>
