---
import 'styles/main.css'
import 'virtual:windi.css'

type LayoutProps = {
  title: string
}

const { title } = Astro.props as LayoutProps
 
---

<html lang="en" class="bg-dark text-text">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col container mx-auto">
		<slot />
	</body>
</html>
